/* Estilização da global */

* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
	font-family: monospace;
	color: #333;
    margin: 0px;
}

.bg-white {
    padding-bottom: 100px;
}

.bg-gray {
    background-color: #444444;;
    color: #dadada;
    padding-bottom: 100px;
}

.container {
	max-width: 600px;
	margin: 0 auto 40px auto;
	border: 1px solid #ccc;
}

h1 {
    text-align: center;
    padding: 40px 0 10px 0;
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    text-align: center;
    padding: 40px 0 0 0;
    font-size: 1.75rem;
    font-weight: bold;
}

h3 {
    text-align: center;
    padding: 40px 0 0 0;
    font-size: 1.25rem;
    font-weight: bold;
}

p {
    text-align: center;
    padding:    8px 0 10px 0;
    font-size: 1.25rem;
    font-weight: normal;
    margin-top: 0px;
}

.item {
	margin: 5px;
    padding: 5px 10px;
	background: rgb(136, 191, 236);
	text-align: center;
	font-size: 1.5em;
}

.bg-gray>.container>.item {
	background: rgb(77, 145, 200);
}

.bg-white>div>h3>span {
    color: purple;
    font-weight: bold;
}

.bg-gray>div>h3>span {
    color: rgb(188, 92, 188);
    font-weight: bold;
}

.h-300 {
    height: 300px;
}

.h-200 {
    height: 200px;
}
.h-400 {
    height: 400px;
}

/* Aula 1 */

.flex {
    display: flex;
}

.flex-item-1 {
    flex: 1;
}

/* Aula 2 */

.flex-row {
    flex-direction: row;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

/* Aula 3 */

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* Aula 4 */

.flex-flow-row-nowrap {
    flex-flow: row nowrap;
}

.flex-flow-row-reverse-nowrap {
    flex-flow: row-reverse nowrap;
}

.flex-flow-row-wrap {
    flex-flow: row wrap;
}

.flex-flow-row-reverse-wrap {
    flex-flow: row-reverse wrap;
}

.flex-flow-column-nowrap {
    flex-flow: column nowrap;
}

.flex-flow-column-wrap {
    flex-flow: column wrap;
}

.flex-flow-column-reverse-wrap {
    flex-flow: column-reverse wrap;
}

/* Aula 5 */

.justify-content-flex-start {
    justify-content: flex-start;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

/* Aula 6 */

.align-items-stretch {
    align-items: stretch;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

#item-1 {
    padding: 30px 40px 0 40px;
}

#center-item {
    flex: 0;
    padding: 20px;
}